body {
    font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height:1.1;
    color:inherit;
}

p{
    font-size: 1.1rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;
    left:3%;
    position: relative;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        
        @include respond(phone) {
            letter-spacing: 1rem;
            font-family: 5rem;
        }
        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1.5s ease-out;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    color:white;
    // font-weight: 100;
}

.heading-3rd--container{
    display:flex;
    text-align: center;
    justify-content: center;
}

.heading-3rd{
    color:white;


    &--underline{
        border-bottom:.3rem solid white;
        padding-bottom:1.4rem;
        // text-decoration: underline;
    }
}


.text-white{
    color:white;
}